set_io data(7) IO_26
set_io data(6) IO_25
set_io data(5) IO_24
set_io data(4) IO_23
set_io en IO_22
set_io rs IO_21
set_io a(3) IO_18
set_io a(2) IO_16
set_io a(1) IO_14
set_io a(0) IO_12
set_io b(3) IO_17
set_io b(2) IO_15
set_io b(1) IO_13
set_io b(0) IO_11
